table {
  width: 100% !important;
}

.empty-tool {
  height: 300px;
  width: 300px;
}

.tools-wrapper {
  padding: 14px;
  height: 82vh;
}

.form {
  width: 325px;
  padding: 14px;

  .mat-form-field {
    width: 100%;
  }
}
