<div class="d-flex tools-wrapper">
  <form [formGroup]="addTool" (ngSubmit)="submit()" class="mat-elevation-z8 form">

    <p>
      <mat-form-field appearance="standard">
        <mat-label>Tool Name</mat-label>
        <input formControlName="name" matInput placeholder="Tool name">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Tool Diameter</mat-label>
        <input formControlName="diameter" matInput placeholder="Tool diameter">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Tool Material</mat-label>
        <input formControlName="material" matInput placeholder="Tool Material">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Stickout</mat-label>
        <input formControlName="stickout" matInput placeholder="Tool Stickout">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Offset H#</mat-label>
        <input formControlName="offestHeight" matInput placeholder="Tool Offset H#">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Cutter Comp</mat-label>
        <input formControlName="cutterCompensation" matInput placeholder="Tool Cutter Comp">
      </mat-form-field>
    </p>
    <button mat-raised-button color="primary" type="submit">Add</button>
  </form>
  <div class="d-flex justify-content-center flex-grow-1 ml-3">
    <div *ngIf="hasTools; else emptyState" class="w-100">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Tool Name </th>
          <td mat-cell *matCellDef="let tool"> {{tool.name}} </td>
        </ng-container>

        <ng-container matColumnDef="diameter">
          <th mat-header-cell *matHeaderCellDef> Diameter </th>
          <td mat-cell *matCellDef="let tool"> {{tool.diameter}} </td>
        </ng-container>

        <ng-container matColumnDef="material">
          <th mat-header-cell *matHeaderCellDef> Material </th>
          <td mat-cell *matCellDef="let tool"> {{tool.material}} </td>
        </ng-container>

        <ng-container matColumnDef="stickout">
          <th mat-header-cell *matHeaderCellDef> Stickout </th>
          <td mat-cell *matCellDef="let tool"> {{tool.stickout}} </td>
        </ng-container>
        <ng-container matColumnDef="offestHeight">
          <th mat-header-cell *matHeaderCellDef> Offset Height </th>
          <td mat-cell *matCellDef="let tool"> {{tool.offestHeight}} </td>
        </ng-container>
        <ng-container matColumnDef="cutterCompensation">
          <th mat-header-cell *matHeaderCellDef> Cutter Compensation </th>
          <td mat-cell *matCellDef="let tool"> {{tool.cutterCompensation}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <ng-template #emptyState>
      <div>
        <img class="empty-tool" src="assets/tools.jpg">
        <div>
          <p class="display-3">No Tools</p>
          <p class="mat-headline">Start by adding tool</p>
        </div>
      </div>
    </ng-template>
  </div>
</div>
