<mat-card>
  <form [formGroup]="setupSheet">
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Part Name</mat-label>
        <input matInput formControlName="partName" placeholder="Placeholder">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Part Number</mat-label>
        <input matInput formControlName="partNumber" placeholder="Placeholder">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Material</mat-label>
        <input matInput formControlName="material" placeholder="Placeholder">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Customer</mat-label>
        <input matInput formControlName="customer" placeholder="Placeholder">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Machine</mat-label>
        <input matInput formControlName="machine" placeholder="Placeholder">
      </mat-form-field>
    </p>
  </form>
</mat-card>
