<div class="photos-component">
  <div class="file-upload">
    <div class="file-select">
      <div class="file-select-button" id="fileName">Choose Photo</div>
      <div class="file-select-name" id="noFile">No file chosen...</div>
      <input type="file" name="chooseFile" id="chooseFile" (change)="fileUploadEvent($event)">
    </div>
  </div>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile *ngFor="let image of images$ | async">
      <img class="image" [src]="image">
      <button mat-raised-button (click)="deleteImage(image)" color="primary">Delete</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
