<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My Shop Setup - Setup sheet generator</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="d-flex setup-sheet">

  <form [formGroup]="setupSheet" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Part Name</mat-label>
        <input matInput formControlName="partName" placeholder="Placeholder">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Part Number</mat-label>
        <input matInput formControlName="partNumber" placeholder="Placeholder">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Material</mat-label>
        <input matInput formControlName="material" placeholder="Placeholder">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Customer</mat-label>
        <input matInput formControlName="customer" placeholder="Placeholder">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Machine</mat-label>
        <input matInput formControlName="machine" placeholder="Placeholder">
      </mat-form-field>
    </p>
    <button mat-raised-button color="primary" type="submit">Refresh</button>
  </form>
  <div class="flex-grow-1 ml-3">
    <div class="pdf-wrapper" *ngIf="!!pdfDataUrl || hasParams; else emptyState">
      <object *ngIf="!!pdfDataUrl" type="application/pdf" [data]="pdfDataUrl" class="mt-2">
        <p>Insert your error message here, if the PDF cannot be displayed.</p>
      </object>
    </div>

    <ng-template #emptyState>
      <mat-card class="d-flex justify-content-center">
        <div>
          <img class="img-responsive d-block" src="assets/clipboard.jpg">
          <div>

            <p class="display-3">Get Started</p>
            <p class="mat-headline">Start by adding setup info to the left.</p>
          </div>
        </div>
      </mat-card>
    </ng-template>
  </div>
</mat-card>
