table {
  width: 100%;
}

object {
  width: 100%;
  height: 100%;
}

.setup-sheet {
  height: 100%;
}

.pdf-wrapper {
  width: 100%;
  height: 100%;
  background-color: #595959;
}

.mat-drawer-content {
  height: 91vh;
}

::ng-deep .mat-tab-body-wrapper {
  height: 100vh;
}

.mat-tab-group {
  height: 100vh;
}

::ng-deep .tab-wrapper {
  margin-top: 24px;
}

.setup-wrapper {
  width: 330px;
}

.mat-form-field {
  width: 100%;
}
