<h1 hidden>{{ settings | json }}</h1>
<app-top-bar></app-top-bar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="isSideNavOpen$ | async" class="d-none d-lg-flex">
    <app-details></app-details>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-tab-group class="mat-elevation-z8" [selectedIndex]="selectedTabIndex"
      (selectedTabChange)="selectedTabChange($event)">
      <mat-tab *ngIf="showReportTab" label="Report">
        <app-report></app-report>
      </mat-tab>
      <mat-tab label="Tools">
        <app-tools></app-tools>
      </mat-tab>
      <mat-tab label="Details" *ngIf="showDetailsTab">
        <div class="details-wrapper">
          <app-details></app-details>
        </div>
      </mat-tab>
      <mat-tab label="Photos">
        <app-photos></app-photos>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>
