table {
  width: 100%;
}

object {
  width: 100%;
  height: 100%;
}

.setup-sheet {
  height: 100%;
}

.pdf-wrapper {
  width: 100%;
}

object {
  height: 78vh;
}

::ng-deep .tab-wrapper {
  margin-top: 24px;
}

.sidenav-wrapper {
  padding: 14px;
}

.setup-wrapper {
  padding: 14px;

  form {
    width: 325px;
    padding: 12px 14px;
  }
}

.mat-form-field {
  width: 100%;
}

::ng-deep .mat-drawer-container {
  height: 91vh;
}

::ng-deep .mat-drawer-inner-container {
  padding: 7px;
}

.btn-link {
  &:hover {
    text-decoration: none;
  }
}
